**/node_modules
**/.next
**/dist
**/out
**/build
**/.turbo
**/*.tsbuildinfo
**/src/lib/paraglide
**/project.inlang/cache

**/.env
**/.env.*

.git
.gitignore
.dockerignore
.idea
.vscode
.github

**/Dockerfile
compose.yaml
compose.*.yaml

**/*.log
**/coverage
**/.DS_Store
